Repository morphware/daemon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @morphware/engineering-admin, @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

Daemon gets fileSize, frontEnd shows it on auctions table
  backend/model/jobPoster.js
  frontend/src/components/AuctionsTable.tsx
  frontend/src/components/FileField.tsx
  frontend/src/utils.ts
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Can select/save GPU model in settings page
  backend/routes/settings.js
  frontend/src/components/SettingsForm.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/mappers/SettingsMappers.ts
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Worker calculates bidding value in USD
  backend/model/jobPoster.js
  backend/model/jobWorker.js
  backend/package-lock.json
  backend/package.json
  backend/pricingUtils.js
  backend/unsorted/validator.js
  backend/us_east_1.csv
  backend/validator.js
Owners: @morphware/engineering-backend, @morphware/engineering

FIX: File upload fileName overflow
  backend/model/jobWorker.js
  backend/pricingUtils.js
  frontend/src/components/FileField.tsx
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Updated EC2 Pricing CSV, TrainModelForm UX fix's, Calculate Bounty on FE
  backend/model/jobWorker.js
  backend/pricingUtils.js
  backend/unsorted/Sample_Image_Classification_Model.ipynb
  backend/us_east_1.csv
  frontend/src/components/Radios.tsx
  frontend/src/components/Util.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/providers/MorphwareTheme.tsx
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Added loading spinner for posting jobs
  frontend/src/components/trainModelForm.tsx
  frontend/src/screens/TrainModel.tsx
Owners: @morphware/engineering-ux

Convert MWT to wei format
  backend/model/jobPoster.js
  backend/pricingUtils.js
Owners: @morphware/engineering-backend

FIX: BN conversion
  backend/pricingUtils.js
  frontend/src/components/trainModelForm.tsx
Owners: @morphware/engineering-backend, @morphware/engineering-ux

FIX: 'Error Rate' be 'Acceptable Accuracy'
  frontend/src/components/trainModelForm.tsx
Owners: @morphware/engineering-ux

Setup Home Screen
  frontend/src/App.tsx
  frontend/src/components/ConnectedBanner.tsx
  frontend/src/components/FileField.tsx
  frontend/src/components/PositionedSnackbar.tsx
  frontend/src/components/Statistics.tsx
  frontend/src/components/WalletFooterInfo.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/navigation/NavBar.tsx
  frontend/src/providers/MorphwareTheme.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/screens/ScreenViewBox.tsx
Owners: @morphware/engineering-ux

Logging
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Cleaned code
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Client can select their role on settings form
  README.md
  backend/conf/index.js
  backend/model/jobValidator.js
  backend/model/jobWorker.js
  backend/routes/settings.js
  backend/utils/pricing.js
  docs/api_v0.md
  docs/conf.md
  frontend/src/components/SettingsForm.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/mappers/SettingsMappers.ts
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

Torrent client uses user defined torrentPort
  backend/controller/torrent.js
Owners: @morphware/engineering-backend

FE uses new /price endpoint
  backend/model/jobWorker.js
  backend/model/morphware.js
  backend/pricingUtils.js
  backend/routes/wallet.js
  frontend/src/components/Util.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-backend, @morphware/engineering-ux

updated api docs
  backend/model/morphware.js
  backend/pricingUtils.js
  docs/api_v0.md
Owners: @morphware/engineering-backend, @morphware/engineering

FIX: API_v0 styling
  docs/api_v0.md
Owners: @morphware/engineering

FIX: USDMWT => MWTUSD
  backend/model/jobWorker.js
  backend/model/morphware.js
  backend/pricingUtils.js
  backend/routes/wallet.js
Owners: @morphware/engineering-backend

Updated validator node and addded testing/training data
  backend/unsorted/testing-data/t10k-labels-idx1-ubyte.gz
  backend/unsorted/validator_node.py
Owners: @morphware/engineering-backend

FIX: Validator lock
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Remove unsorted dir from pathname
  backend/unsorted/validator_node.py
Owners: @morphware/engineering-backend

CODE
  backend/express.js
Owners: @morphware/engineering-backend

comment out verbose logging
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Fix validator node / testing of the model
  backend/model/jobValidator.js
  backend/unsorted/validator_node.py
Owners: @morphware/engineering-backend

Generalize port number for torrent
  backend/controller/torrent.js
Owners: @morphware/engineering-backend

Fixed bidding rounding issue
  backend/pricingUtils.js
Owners: @morphware/engineering-backend

revert previous commit
  backend/pricingUtils.js
Owners: @morphware/engineering-backend

Update README.md
  README.md
Owners: @morphware/engineering-backend

minor README cleanup
  README.md
Owners: @morphware/engineering-backend

Updated contract addresses for mainnet
  backend/conf/production.js
Owners: @morphware/engineering-backend

Updated contract addresses for mainnet
  backend/conf/production.js
Owners: @morphware/engineering-backend

Updated contract links
  backend/conf/production.js
Owners: @morphware/engineering-backend

Added deployed ABI's
  backend/abi/JobFactory-MainnetABI.json
  backend/abi/VickreyAuction-MainnetABI.json
  backend/conf/production.js
Owners: @morphware/engineering-backend

fix: upgrade typescript from 4.4.4 to 4.5.2
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: upgrade @mui/material from 5.0.6 to 5.2.3
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: upgrade @mui/icons-material from 5.0.5 to 5.2.1
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: upgrade @testing-library/jest-dom from 5.14.1 to 5.16.1
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: upgrade @types/react from 17.0.33 to 17.0.37
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

added nvmrc file
  .nvmrc
Owners: @morphware/engineering-backend

.github/CODEOWNERS:

# Only admins can approve codeowner changes
/.github/CODEOWNERS @morphware/engineering-admin

# Default for all files
* @morphware/engineering-backend

# Anyonce can approve docs
/docs/ @morphware/engineering

# UX team for the frontend
/frontend/ @morphware/engineering-ux

# Backend for the backend
/backend/ @morphware/engineering-backend

# Allow any one to approve version changes
package.json @morphware/engineering
paclage-lock.json @morphware/engineering
