Repository morphware/daemon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @morphware/engineering-admin, @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

Added validator logs
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Removed validator logging
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

updated jobWorker.js to work with the generalized notebook format
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

correctly identify .ipynb and .py files
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

update
  backend/model/jobPoster.js
  backend/model/jobValidator.js
  backend/model/jobWorker.js
  backend/utils/files.js
Owners: @morphware/engineering-backend

end to end test finished
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

wait for approval to be mined before sending followup tx
  backend/helpers.js
  backend/model/contract.js
  backend/model/jobPoster.js
  backend/model/jobWorker.js
  backend/package-lock.json
  backend/package.json
Owners: @morphware/engineering-backend, @morphware/engineering

Worker approves bid amount
  backend/model/jobPoster.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Minor cleaning
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Added wait function
  backend/helpers.js
  backend/model/contract.js
  backend/model/jobPoster.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

wait 10s before responding to an event
  backend/model/job.js
  backend/model/jobPoster.js
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/package.json & backend/package-lock.json to reduce vulnerabilities
  backend/package-lock.json
  backend/package.json
Owners: @morphware/engineering-backend, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

added miner and workerNode screen
  TellorOracle.md
  backend/conf/index.js
  backend/model/job.js
  backend/model/jobPoster.js
  backend/model/jobValidator.js
  backend/model/jobWorker.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api_v0.js
  backend/routes/miner.js
  backend/routes/settings.js
  backend/utils/pricing.js
  backend/utils/shellUtils.js
  docs/api_v0.md
  docs/conf.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/EnableMLAlertModal.tsx
  frontend/src/components/Miner.tsx
  frontend/src/components/SettingsForm.tsx
  frontend/src/components/TorrentsTable.tsx
  frontend/src/mappers/MiningStats.ts
  frontend/src/mappers/SettingsMappers.ts
  frontend/src/navigation/NavBar.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/providers/UtilsProvider.tsx
  frontend/src/screens/WorkerNode.tsx
  frontend/src/service/DaemonService.ts
  package-lock.json
Owners: @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

.github/CODEOWNERS:

# Only admins can approve codeowner changes
/.github/CODEOWNERS @morphware/engineering-admin

# Default for all files
* @morphware/engineering-backend

# Anyonce can approve docs
/docs/ @morphware/engineering

# UX team for the frontend
/frontend/ @morphware/engineering-ux

# Backend for the backend
/backend/ @morphware/engineering-backend

# Allow any one to approve version changes
package.json @morphware/engineering
paclage-lock.json @morphware/engineering
