Repository morphware/daemon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @morphware/engineering-admin, @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

updated validator logging
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Fix path to validator node runtime
  backend/package-lock.json
  backend/uploads/trainedModels/trained_model.h5
  package-lock.json
  package.json
  unsorted/.ipynb_checkpoints/Sample_Image_Classification_Model-checkpoint.ipynb
  unsorted/.ipynb_checkpoints/Validator node-checkpoint.ipynb
  unsorted/uploads/trainedModels/trained_model.h5
  unsorted/validator_node.py
Owners: @morphware/engineering-backend, @morphware/engineering

getting python3 calling path
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Move unsorted dir into backend dir
  backend/unsorted/.ipynb_checkpoints/Sample Image Classification Model-checkpoint.ipynb
  backend/unsorted/.ipynb_checkpoints/Sample_Image_Classification_Model-checkpoint.ipynb
  backend/unsorted/.ipynb_checkpoints/Validator node-checkpoint.ipynb
  backend/unsorted/Sample_Image_Classification_Model.ipynb
  backend/unsorted/Validator node.ipynb
  backend/unsorted/idle.rs
  backend/unsorted/links.json
  backend/unsorted/test.js
  backend/unsorted/trained_model.h5
  backend/unsorted/uploads/trainedModels/trained_model.h5
  backend/unsorted/validator.sh
  backend/unsorted/validator_node.py
  backend/unsorted/worker.js
  backend/unsorted/worker_getCloudInfo.py
Owners: @morphware/engineering-backend

Fix typo (reciept)
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Splice line break character from stdout
  backend/model/jobValidator.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Slice line break character from stdout
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Fixed error calc issue
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Added notebook routes, models and FE component to run jupyter lab
  backend/conf/index.js
  backend/model/jobPoster.js
  backend/model/jobValidator.js
  backend/model/jobWorker.js
  backend/model/notebook.js
  backend/package-lock.json
  backend/routes/api_v0.js
  backend/routes/notebook.js
  frontend/package-lock.json
  frontend/src/components/TrainModelTopBar.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/screens/TrainModel.tsx
  frontend/src/service/DaemonService.ts
  package-lock.json
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Paramatrise trainedModel
  backend/unsorted/validator_node.py
Owners: @morphware/engineering-backend

Add tm to JupyterLab text
  frontend/src/components/TrainModelTopBar.tsx
Owners: @morphware/engineering-ux

Settings now hold JupyterLab port
  backend/model/notebook.js
  backend/routes/settings.js
  frontend/src/components/SettingsForm.tsx
  frontend/src/mappers/SettingsMappers.ts
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-backend, @morphware/engineering-ux

revert appDownloadPath
  backend/conf/index.js
Owners: @morphware/engineering-backend

Cleaned up code
  backend/conf/index.js
  backend/model/jobPoster.js
  backend/model/jobWorker.js
  backend/model/notebook.js
  backend/routes/notebook.js
  backend/unsorted/validator_node.py
  docs/api_v0.md
  frontend/src/components/SettingsForm.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

Updated api docs for notebook routes
  docs/api_v0.md
Owners: @morphware/engineering

Jupyter lab opens in appDownloadPath
  backend/model/notebook.js
Owners: @morphware/engineering-backend

Cannot work on own posted job
  backend/model/jobValidator.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Added endpoint that returns the clients role (poster/worker/validator)
  backend/routes/settings.js
  docs/api_v0.md
Owners: @morphware/engineering-backend, @morphware/engineering

Added mining endpoints
  backend/model/jobWorker.js
  backend/routes/api_v0.js
  backend/routes/miner.js
  frontend/src/constants.ts
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Comment out child miner status check
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

logging child process
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

making a detached child process
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

kill child miner process tree
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Added error checks for starting/stopping the miner
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Update settings form for mining command input, updated docs,
  backend/conf/index.js
  backend/model/jobWorker.js
  backend/routes/settings.js
  docs/api_v0.md
  frontend/src/components/SettingsForm.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

Draft notebook dependency finder/installer
  backend/model/jobWorker.js
  backend/model/notebook.js
Owners: @morphware/engineering-backend

fix async issue
  backend/model/notebook.js
Owners: @morphware/engineering-backend

calling installDep from worker
  backend/model/jobWorker.js
  backend/model/notebook.js
  backend/package-lock.json
  backend/package.json
Owners: @morphware/engineering-backend, @morphware/engineering

Increased websocker max recievable frame size
  backend/model/contract.js
Owners: @morphware/engineering-backend

Worker downloads notebook dependencies
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

startWorking after finishing model training
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Draft: Using appDownloadPath
  backend/conf/index.js
Owners: @morphware/engineering-backend

update native dataPath
  backend/conf/index.js
Owners: @morphware/engineering-backend

FIX: native appData path
  backend/conf/index.js
Owners: @morphware/engineering-backend

Add output of lshw and nvidia-smi
  backend/unsorted/lshw.out
  backend/unsorted/nvidia-smi.out
Owners: @morphware/engineering-backend

Fix installDep async issue
  backend/model/notebook.js
Owners: @morphware/engineering-backend

Cleaned for PR
  backend/conf/index.js
  backend/model/jobWorker.js
  backend/model/python.js
Owners: @morphware/engineering-backend

Draft: replace MWSTORE with workers appDataPath
  backend/model/jobWorker.js
  backend/model/notebook.js
  backend/package-lock.json
  backend/package.json
  backend/unsorted/Sample_Image_Classification_Model.ipynb
Owners: @morphware/engineering-backend, @morphware/engineering

Working Draft: using MWSTORE:FILENAME syntax
  backend/model/jobWorker.js
  backend/model/notebook.js
Owners: @morphware/engineering-backend

cleaned changes for PR
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

.github/CODEOWNERS:

# Only admins can approve codeowner changes
/.github/CODEOWNERS @morphware/engineering-admin

# Default for all files
* @morphware/engineering-backend

# Anyonce can approve docs
/docs/ @morphware/engineering

# UX team for the frontend
/frontend/ @morphware/engineering-ux

# Backend for the backend
/backend/ @morphware/engineering-backend

# Allow any one to approve version changes
package.json @morphware/engineering
paclage-lock.json @morphware/engineering
