Repository morphware/daemon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @morphware/engineering-admin, @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

Builds AppImage for Linux
  backend/package.json
  build.js
  package.json
Owners: @morphware/engineering, @morphware/engineering-backend

Added logs
  backend/model/jobValidator.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Move to Mac
  backend/model/jobPoster.js
  backend/model/python.js
Owners: @morphware/engineering-backend

Fixed torrentListeningPort config
  backend/conf/index.js
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: upgrade web3 from 1.6.0 to 1.6.1
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

Cleans up worker node files on approval
  backend/conf/index.js
  backend/model/jobValidator.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

updated package-lock
  backend/package-lock.json
Owners: @morphware/engineering-backend

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

Updated README
  README.md
Owners: @morphware/engineering-backend

Can decalre validatorID
  backend/conf/index.js
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Checks if needed to validate
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

logs
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Fixed validator check
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Move validation cluster size to conf
  backend/conf/development.js
  backend/conf/production.js
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

Removed excessive logs
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

non-persistant dark mode
  frontend/src/App.tsx
  frontend/src/assets/LogoLight.png
  frontend/src/assets/LogoLightV2.png
  frontend/src/assets/auctions.png
  frontend/src/assets/auctionsV2.png
  frontend/src/assets/logo.png
  frontend/src/assets/logoDark.png
  frontend/src/assets/logoV2.png
  frontend/src/assets/logoV3.png
  frontend/src/assets/stats.png
  frontend/src/components/AuctionsTable.css
  frontend/src/components/AuctionsTable.tsx
  frontend/src/components/ConnectedBanner.tsx
  frontend/src/components/FileField.tsx
  frontend/src/components/Radios.tsx
  frontend/src/components/SettingsForm.tsx
  frontend/src/components/Statistics.tsx
  frontend/src/components/TorrentsTable.tsx
  frontend/src/components/TrainModelTopBar.tsx
  frontend/src/components/Util.tsx
  frontend/src/components/WalletFooterInfo.tsx
  frontend/src/components/WalletModal.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/navigation/NavBar.tsx
  frontend/src/providers/MorphwareTheme.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/providers/UtilsProvider.tsx
  frontend/src/screens/Auctions.tsx
  frontend/src/screens/Home.tsx
  frontend/src/screens/Settings.tsx
  frontend/src/screens/Torrents.tsx
  frontend/src/screens/TrainModel.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-ux

Added and connected darkMode API
  backend/conf/index.js
  backend/routes/settings.js
  frontend/src/App.tsx
  frontend/src/components/SettingsForm.tsx
  frontend/src/mappers/SettingsMappers.ts
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/providers/UtilsProvider.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Removed consolelogs
  frontend/src/components/SettingsForm.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/providers/UtilsProvider.tsx
Owners: @morphware/engineering-ux

Removed logging
  frontend/src/components/AuctionsTable.tsx
  frontend/src/components/FileField.tsx
  frontend/src/components/WalletFooterInfo.tsx
  frontend/src/components/WalletModal.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/mappers/TrainModelFormMappers.ts
Owners: @morphware/engineering-ux

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

.github/CODEOWNERS:

# Only admins can approve codeowner changes
/.github/CODEOWNERS @morphware/engineering-admin

# Default for all files
* @morphware/engineering-backend

# Anyonce can approve docs
/docs/ @morphware/engineering

# UX team for the frontend
/frontend/ @morphware/engineering-ux

# Backend for the backend
/backend/ @morphware/engineering-backend

# Allow any one to approve version changes
package.json @morphware/engineering
paclage-lock.json @morphware/engineering
