Repository morphware/daemon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @morphware/engineering-admin, @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

fix: backend/package.json to reduce vulnerabilities
  backend/package.json
Owners: @morphware/engineering

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: backend/package.json & backend/package-lock.json to reduce vulnerabilities
  backend/package-lock.json
  backend/package.json
Owners: @morphware/engineering-backend, @morphware/engineering

.github/CODEOWNERS:

# Only admins can approve codeowner changes
/.github/CODEOWNERS @morphware/engineering-admin

# Default for all files
* @morphware/engineering-backend

# Anyonce can approve docs
/docs/ @morphware/engineering

# UX team for the frontend
/frontend/ @morphware/engineering-ux

# Backend for the backend
/backend/ @morphware/engineering-backend

# Allow any one to approve version changes
package.json @morphware/engineering
paclage-lock.json @morphware/engineering
