Repository morphware/daemon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @morphware/engineering-admin, @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

moved NSFMiner to /relatedFiles
  backend/model/jobWorker.js
  frontend/src/providers/UtilsProvider.tsx
  package.json
Owners: @morphware/engineering-backend, @morphware/engineering-ux, @morphware/engineering

build can mine
  backend/model/jobWorker.js
  backend/package.json
  backend/routes/miner.js
  electron.js
  frontend/src/service/DaemonService.ts
  package.json
Owners: @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

clear mining stats on stopMining
  backend/package.json
  frontend/src/components/Miner.tsx
  frontend/src/providers/UtilsProvider.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering, @morphware/engineering-ux

clear mining stats on stopMining
  frontend/src/components/Miner.tsx
Owners: @morphware/engineering-ux

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/package.json & backend/package-lock.json to reduce vulnerabilities
  backend/package-lock.json
  backend/package.json
Owners: @morphware/engineering-backend, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

.github/CODEOWNERS:

# Only admins can approve codeowner changes
/.github/CODEOWNERS @morphware/engineering-admin

# Default for all files
* @morphware/engineering-backend

# Anyonce can approve docs
/docs/ @morphware/engineering

# UX team for the frontend
/frontend/ @morphware/engineering-ux

# Backend for the backend
/backend/ @morphware/engineering-backend

# Allow any one to approve version changes
package.json @morphware/engineering
paclage-lock.json @morphware/engineering
