Repository morphware/daemon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @morphware/engineering-admin, @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

draft
  backend/model/job.js
  backend/model/jobPoster.js
  backend/model/jobWorker.js
  backend/model/morphware.js
Owners: @morphware/engineering-backend

One validator
  backend/conf/development.js
  backend/model/jobPoster.js
Owners: @morphware/engineering-backend

Removed logs
  backend/model/jobPoster.js
Owners: @morphware/engineering-backend

Moved validating job to its own function
  backend/model/jobPoster.js
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

Added comments for preConfirmedJobs
  backend/model/jobPoster.js
Owners: @morphware/engineering-backend

FIX: To string the MWT reward to render
  frontend/src/components/AuctionsTable.tsx
Owners: @morphware/engineering-ux

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

Worker Deletes torrent after approval Test
  backend/controller/torrent.js
  backend/model/job.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Add notebook with dataloader
  backend/unsorted/Sample_Image_Classification_Model.ipynb
Owners: @morphware/engineering-backend

Break-off pre-seed notebook from model to be trained
  backend/unsorted/demo/.ipynb_checkpoints/Sample Image Classification Model-checkpoint.ipynb
  backend/unsorted/demo/.ipynb_checkpoints/before_seeding-checkpoint.ipynb
  backend/unsorted/demo/.ipynb_checkpoints/seeded_model-checkpoint.ipynb
  backend/unsorted/demo/Sample Image Classification Model.ipynb
  backend/unsorted/demo/before_seeding.ipynb
  backend/unsorted/demo/seeded_model.ipynb
  backend/unsorted/demo/testing-data/t10k-labels-idx1-ubyte.gz
  backend/unsorted/demo/training-data/train-labels-idx1-ubyte.gz
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

fix: resources/share/python/requirements.txt to reduce vulnerabilities
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend

push
  Markdown.md
Owners: @morphware/engineering-backend

Incomplete Draft
  docs/TellorPricingOracle.md
Owners: @morphware/engineering

Draft TellorSpotPriceOracle Document
  docs/TellorPricingOracle.md
  docs/TellorSpotPriceOracle.md
Owners: @morphware/engineering

Added query version table
  docs/TellorSpotPriceOracle.md
Owners: @morphware/engineering

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

fix: backend/Dockerfile to reduce vulnerabilities
  backend/Dockerfile
Owners: @morphware/engineering-backend

comments
  README.md
  backend/model/job.js
  backend/model/jobPoster.js
  backend/model/jobValidator.js
  backend/model/jobWorker.js
  backend/package-lock.json
  backend/unsorted/validator_node.py
  frontend/package-lock.json
  frontend/yarn.lock
  package-lock.json
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Updating references with newly deployed Ropsten Contracts
  backend/conf/development.js
Owners: @morphware/engineering-backend

Can post a job with the new contracts
  backend/abi/JobFactory-RopstenABI.json
  backend/abi/VickreyAuction-RopstenABI.json
  backend/model/jobPoster.js
  backend/model/morphware.js
Owners: @morphware/engineering-backend

Testing worker bid on new contract
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Draft: Updating approve before bid
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Draft: validator downloads model
  backend/model/jobPoster.js
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

reveal 4m before deadline
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Updated to referece newly deployerd contracts
  backend/conf/development.js
Owners: @morphware/engineering-backend

Cleaned up older files
  backend/model/contract.js
  backend/model/job.js
  backend/model/jobPoster.js
  backend/model/jobValidator.js
  backend/unsorted/.ipynb_checkpoints/Sample Image Classification Model-checkpoint.ipynb
  backend/unsorted/.ipynb_checkpoints/Sample_Image_Classification_Model-checkpoint.ipynb
  backend/unsorted/.ipynb_checkpoints/Validator node-checkpoint.ipynb
  backend/unsorted/Sample_Image_Classification_Model.ipynb
  backend/unsorted/idle.rs
  backend/unsorted/links.json
  backend/unsorted/test.js
  backend/unsorted/trained_model.h5
  backend/unsorted/validator.js
  backend/unsorted/validator.sh
  backend/unsorted/worker.js
  backend/uploads/trainedModels/trained_model.h5
Owners: @morphware/engineering-backend

Change development contracts to reference polygon mumbai contracts
  backend/abi/JobFactory-PolygonMumbaiABI.json
  backend/abi/MorphwareToken-PolygonMumbaiABI.json
  backend/abi/VickreyAuction-PolygonMumbaiABI.json
  backend/conf/development.js
  backend/routes/network.js
Owners: @morphware/engineering-backend

Create _JobDescriptionPosted event
  backend/model/jobPoster.js
Owners: @morphware/engineering-backend

Removed excessive logging
  backend/conf/index.js
  backend/model/contract.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

fix: frontend/package.json & frontend/package-lock.json to reduce vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Owners: @morphware/engineering-ux, @morphware/engineering

Validator downloadAndTestModel function
  backend/model/jobValidator.js
Owners: @morphware/engineering-backend

.github/CODEOWNERS:

# Only admins can approve codeowner changes
/.github/CODEOWNERS @morphware/engineering-admin

# Default for all files
* @morphware/engineering-backend

# Anyonce can approve docs
/docs/ @morphware/engineering

# UX team for the frontend
/frontend/ @morphware/engineering-ux

# Backend for the backend
/backend/ @morphware/engineering-backend

# Allow any one to approve version changes
package.json @morphware/engineering
paclage-lock.json @morphware/engineering
