Repository morphware/daemon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @morphware/engineering-admin, @morphware/engineering-backend, @morphware/engineering, @morphware/engineering-ux

Updated contract address
  backend/abi/JobFactory-RopstenABI.json
  backend/abi/VickreyAuction-RopstenABI.json
  backend/conf/development.js
Owners: @morphware/engineering-backend

Reveal testing
  backend/abi/JobFactory-RopstenABI.json
  backend/abi/VickreyAuction-RopstenABI.json
  backend/conf/development.js
  backend/model/job.js
  backend/model/jobPoster.js
  backend/model/jobWorker.js
  backend/model/morphware.js
Owners: @morphware/engineering-backend

Arrrrr, I'm Captain Hook
  CAPTAINHOOK
Owners: @morphware/engineering-backend

added API docs work jobs endpoint
  docs/api_poster.json
  docs/api_v0.md
  docs/api_worker.json
Owners: @morphware/engineering

added API docs work jobs endpoint
  docs/api_v0.md
Owners: @morphware/engineering

Reavel working
  backend/abi/VickreyAuction-RopstenABI.json
  backend/conf/development.js
  backend/model/contract.js
  backend/model/job.js
  backend/model/jobPoster.js
  backend/model/jobWorker.js
  backend/model/morphware.js
  backend/routes/api_v0.js
  backend/routes/contract.js
  backend/routes/job.js
Owners: @morphware/engineering-backend

Live event stream
  backend/model/job.js
  backend/routes/job.js
  docs/api_v0.md
Owners: @morphware/engineering-backend, @morphware/engineering

new contract
  backend/abi/VickreyAuction-RopstenABI.json
  backend/conf/development.js
  backend/model/jobPoster.js
  backend/model/jobWorker.js
  backend/routes/job.js
Owners: @morphware/engineering-backend

Fixed logs
  backend/model/jobPoster.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Fixed worker lock
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Fixed worker lock
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

Webtorrnet version change
  backend/controller/torrent.js
  backend/model/jobPoster.js
  backend/model/jobWorker.js
  backend/package-lock.json
  backend/package.json
Owners: @morphware/engineering-backend, @morphware/engineering

Timing
  backend/model/jobPoster.js
  backend/model/jobWorker.js
Owners: @morphware/engineering-backend

setup home screen structure
  backend/package-lock.json
  frontend/src/App.tsx
  frontend/src/assets/stats.png
  frontend/src/components/Statistics.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/navigation/NavBar.tsx
  frontend/src/screens/Home.tsx
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Back to webtorrent-hybrid
  backend/controller/torrent.js
  backend/model/jobPoster.js
  backend/model/jobWorker.js
  backend/package-lock.json
  backend/package.json
  backend/routes/torrent.js
Owners: @morphware/engineering-backend, @morphware/engineering

Cleared some torrent errors
  backend/controller/torrent.js
  backend/model/jobWorker.js
  backend/routes/torrent.js
Owners: @morphware/engineering-backend

Torrents work
  build.js
Owners: @morphware/engineering-backend

Creating 'auctions' page, added job callbacks to demon
  frontend/src/components/Statistics.tsx
  frontend/src/navigation/NavBar.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-ux

Component to view address genart
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Address.tsx
  frontend/src/components/Identicon.tsx
  frontend/src/components/PeersTable.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/utils.ts
Owners: @morphware/engineering-ux, @morphware/engineering

Basic table, needs testing
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/PeersTable.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/mappers/TrainModelFormMappers.ts
  frontend/src/screens/Auctions.tsx
  frontend/src/service/DaemonService.ts
  frontend/src/utils.ts
Owners: @morphware/engineering-ux, @morphware/engineering

updated job state mapper
  frontend/package-lock.json
  frontend/package.json
  frontend/src/navigation/NavBar.tsx
  frontend/src/utils.ts
Owners: @morphware/engineering-ux, @morphware/engineering

Added client version number to navbar
  frontend/src/navigation/NavBar.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/service/DaemonService.ts
Owners: @morphware/engineering-ux

Added table header
  frontend/src/components/PeersTable.tsx
  frontend/src/providers/MorphwareTheme.tsx
  frontend/src/screens/Auctions.tsx
Owners: @morphware/engineering-ux

Fixed responsive issue with table
  frontend/src/components/Identicon.tsx
  frontend/src/components/PeersTable.css
  frontend/src/components/PeersTable.tsx
  frontend/src/components/WalletFooterInfo.tsx
  frontend/src/providers/MorphwareTheme.tsx
  frontend/src/screens/Auctions.tsx
Owners: @morphware/engineering-ux

Rebuilt torrentsTable with reactVirtualised
  frontend/src/components/PeersTable.css
  frontend/src/components/PeersTable.tsx
  frontend/src/components/TorrentsTable.tsx
  frontend/src/components/TorrentsTableV2.tsx
  frontend/src/screens/Auctions.tsx
  frontend/src/screens/Torrents.tsx
Owners: @morphware/engineering-ux

Fixed torrent issue
  .gitignore
  backend/controller/torrent.js
  backend/model/jobWorker.js
  backend/model/python.js
  backend/package.json
  package.json
  resources/share/python/requirements.txt
Owners: @morphware/engineering-backend, @morphware/engineering

Added stat numbers
  frontend/src/components/TorrentsTableV2.tsx
  frontend/src/screens/Torrents.tsx
Owners: @morphware/engineering-ux

Hid WIP homeScreen, addedNav icon
  backend/package-lock.json
  frontend/src/App.tsx
  frontend/src/assets/auctions.png
  frontend/src/assets/auctionsV2.png
  frontend/src/components/PeersTable.tsx
  frontend/src/components/TorrentsTableV2.tsx
  frontend/src/navigation/NavBar.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/screens/Auctions.tsx
  frontend/src/screens/Torrents.tsx
  frontend/src/utils.ts
Owners: @morphware/engineering-backend, @morphware/engineering-ux

Cleaned code
  frontend/src/components/Address.tsx
  frontend/src/components/AuctionsTable.css
  frontend/src/components/AuctionsTable.tsx
  frontend/src/components/Identicon.tsx
  frontend/src/components/PeersTable.tsx
  frontend/src/components/TorrentsTable.tsx
  frontend/src/components/TorrentsTableV2.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/providers/ServiceProviders.tsx
  frontend/src/screens/Auctions.tsx
  frontend/src/screens/Torrents.tsx
  frontend/src/service/DaemonService.ts
  frontend/src/utils.ts
Owners: @morphware/engineering-ux

Remove mocked torrent data
  frontend/src/components/TorrentsTable.tsx
Owners: @morphware/engineering-ux

added text area on homescreen
  frontend/src/App.tsx
  frontend/src/components/Statistics.tsx
  frontend/src/navigation/NavBar.tsx
Owners: @morphware/engineering-ux

Inverted color theme
  frontend/src/assets/logoV3.png
  frontend/src/components/AuctionsTable.css
  frontend/src/components/SettingsForm.tsx
  frontend/src/components/TorrentsTable.tsx
  frontend/src/components/TorrentsTableV2.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/navigation/NavBar.tsx
  frontend/src/providers/MorphwareTheme.tsx
  frontend/src/screens/Auctions.tsx
  frontend/src/screens/Torrents.tsx
Owners: @morphware/engineering-ux

Fixed wallet button colors for theme chaange
  frontend/src/components/WalletModal.tsx
  frontend/src/providers/MorphwareTheme.tsx
Owners: @morphware/engineering-ux

Fixed responsive issue with auction/torrents tables
  frontend/src/screens/Auctions.tsx
  frontend/src/screens/Torrents.tsx
Owners: @morphware/engineering-ux

Fixed text overflow issue on training form
  frontend/src/components/FileField.tsx
  frontend/src/components/TorrentsTable.tsx
  frontend/src/components/TorrentsTableV2.tsx
  frontend/src/components/trainModelForm.tsx
  frontend/src/mappers/TrainModelFormMappers.ts
  frontend/src/screens/Torrents.tsx
  frontend/src/screens/TrainModel.tsx
Owners: @morphware/engineering-ux

update component name
  frontend/src/mappers/TrainModelFormMappers.ts
  frontend/src/screens/TrainModel.tsx
Owners: @morphware/engineering-ux

Hiding home page
  frontend/src/App.tsx
  frontend/src/navigation/NavBar.tsx
Owners: @morphware/engineering-ux

Changed _amount, _fake, _secret to non-array args - morphware/service#37
  backend/model/jobWorker.js
  unsorted/worker.js
Owners: @morphware/engineering-backend

Updated wallet modal colors to secondary
  frontend/src/components/WalletModal.tsx
Owners: @morphware/engineering-ux

remove auction/bidding deadline args to postJobDescription
  backend/model/jobPoster.js
Owners: @morphware/engineering-backend

.github/CODEOWNERS:

# Only admins can approve codeowner changes
/.github/CODEOWNERS @morphware/engineering-admin

# Default for all files
* @morphware/engineering-backend

# Anyonce can approve docs
/docs/ @morphware/engineering

# UX team for the frontend
/frontend/ @morphware/engineering-ux

# Backend for the backend
/backend/ @morphware/engineering-backend

# Allow any one to approve version changes
package.json @morphware/engineering
paclage-lock.json @morphware/engineering
